.container{
  max-width: 1140px;
  margin: 0 auto;
}
.form-outer{
  width: 70%;
  padding: 20px;
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
  border: 2px solid #d5d5d5;
  margin: 20px auto;
  text-align: left;
}
.form-outer input{
  margin: 20px;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  width:90%;
}
button{
  padding: 1rem 3rem;
  font-size: 18px;
  background: rgb(57, 42, 42);
  color:white;
  cursor: pointer;
}